@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Sora', sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  background: #FAFAF9;
}
card {
  box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
  overflow: hidden;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  border-radius: 16px;
  background: #FFFFFF;
  gap: 8px;
  
  & img {
    border-radius: 16px;
  }
  
  & .chip {
    background: #E6D6FC;
    align-self: start;
    color: #883AE1;
    padding: 0.25em 1.25em;
    font-size: 10px;
    font-weight: 500;
    border-radius: 16px;
    margin: 0.5em 0;
  }
  
  & h1 {
    font-size: 18px;
    color: #20293A;
    font-weight: 600;
  }
  
  & p{
    font-weight: 200;
    line-height: 1.5;
    font-size: 14px;
    color: #6C727F;
  }
  
  & hr{
    width: 110%;
    margin: 0.5em 0;
    margin-left: -5%;
    border-top: 0.25px solid #E5EAF0;
  }
  & small {
    color: #6C727F;
    font-size: 12px;
  }
}